.container {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(255, 145, 0, 0.9); /* Adjusted background opacity */
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.container .form-title {
  margin: 0 0 30px;
  padding: 0;
  color: black;
  text-align: center;
}
.container .user-box {
  position: relative;
}
.container .user-box input,
.container .user-box select {
  width: 100%;
  padding: 10px 0;
  padding-left: 10px;
  font-size: 16px;
  color: black;
  margin-bottom: 2rem;
  border: 1px solid black;
  outline: none;
  background: rgb(249, 232, 212);
  border-radius: 5px;
}
.container .user-box select {
  height: 40px;
}

.container .user-box label,
.container .user-box input:focus ~ label,
.container .user-box input:valid ~ label,
.container .user-box select:focus ~ label {
  position: absolute;
  top: -1rem;
  left: 0;
  color: rgb(255, 0, 0);
  font-size: 12px;
}

.input-button {
  width: 100%;
  padding: 10px;
  background-color: cornflowerblue;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.inputButton:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.errorLabel {
  color: red;
  font-size: 12px;
}

#redirect {
  text-align: center;
  margin-top: 1rem;
}

#redirect-text {
  display: inline-block;
  font-size: 14px;
  color: black;
}

#redirect-link {
  text-decoration: none;
  color: cornflowerblue;
  font-weight: bold;
}
