.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

.navigate-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.navigate-btn:hover {
  background-color: #45a049;
}

.course-card {
  position: relative;
}

.endorse-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}
