.profile-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(255, 145, 0, 0.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.profile-box h2 {
  margin: 0 0 30px;
  color: black;
  text-align: center;
}

.profile-box .profile-field {
  position: relative;
  margin-bottom: 2rem;
}

.profile-box .profile-field input,
.profile-box .profile-field select {
  width: 100%;
  padding: 10px 0;
  padding-left: 10px;
  font-size: 16px;
  color: black;
  border: 1px solid black;
  outline: none;
  background: rgb(249, 232, 212);
  border-radius: 4px;
}

.profile-box .profile-field select {
  height: 40px;
}

.profile-box .profile-field label {
  position: absolute;
  top: -1rem;
  left: 0;
  color: rgb(255, 0, 0);
  font-size: 12px;
}

button[type="submit"],
button[type="button"] {
  border: none;
  background: cornflowerblue;
  color: white;
  padding: 12px 24px;
  margin: 8px 0;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

button[type="submit"]:hover,
button[type="button"]:hover {
  background: darkblue;
}

.save-text-box {
  text-align: center;
  margin-top: 1rem;
}

.save-text-box p {
  font-size: 14px;
  color: black;
}

#edit-profile-text {
  text-decoration: none;
  color: cornflowerblue;
  font-weight: bold;
}
