.login-box {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(255, 145, 0);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: black;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  padding-left: 10px;
  font-size: 16px;
  color: black;
  margin-bottom: 2rem;
  border: 1px solid black;
  outline: none;
  background: rgb(249, 232, 212);
}

.login-box .user-box label,
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  position: absolute;
  top: -1rem;
  left: 0;
  color: rgb(255, 0, 0);
  font-size: 12px;
}

button[type="submit"] {
  border: none;
  background: cornflowerblue;
  color: white;
  padding: 12px 24px;
  margin: 8px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
}

p {
  display: inline-block;
}

#sign-up-text {
  text-decoration: none;
}
