.navbar {
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Merriweather Sans", sans-serif;
  height: 20%;
  width: 100%;
}

.navbar a {
  text-decoration: none;
}

.navbar-left {
  display: flex;
  justify-self: flex-start;
  gap: 1.2rem;
  width: 80%;
}

.navbar-left .navbar-brand {
  display: flex;
  justify-self: flex-start;
  justify-content: center;
  width: 15%;
}

.navbar-left .navbar-brand img {
  width: 100%;
}

.navbar-left .navbar-items {
  display: flex;
  justify-self: flex-end;
  gap: 1.2rem;
  width: 80%;
}

.navbar-item {
  color: black;
  padding: 0.1rem;
}

.navbar-item:hover {
  color: rgb(255, 145, 0);
}

.navbar-right {
  display: flex;
  justify-self: flex-end;
  justify-content: flex-end;
  padding-right: 0.6rem;
  gap: 1.2rem;
  width: 20%;
}

.navbar-right .profile-button {
  background-color: rgb(255, 145, 0);
  border-radius: 1.25rem;
  color: white;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.navbar-right .menu-dropdown {
  justify-self: flex-end;
  width: 20%;
}

.navbar-right .log-out-button {
  background-color: rgb(255, 145, 0);
  border-radius: 1.25rem;
  color: white;
  margin: -0.3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 2rem;
}

.navbar-right .log-out-button:hover {
  background: none;
  color: rgb(255, 145, 0);
}

button {
  background: none;
  border: none;
  font: inherit; /* Inherit font styles from parent */
  color: inherit; /* Inherit text color from parent */
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  top: 100%;
  left: 0;
  min-width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dropdown-menu.open {
  display: block;
}

.dropdown-item {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  font-size: 0.9rem;
}

.dropdown-item:hover {
  background-color: rgba(255, 145, 0, 0.1);
}
