/* body {
  background-color: rgb(249, 232, 212);
  font-weight: bold;
  font-family: "Merriweather Sans", sans-serif;
  width: 100%;
  height: 100%;
  padding: 0rem;
} */

* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;    
  margin: 0;       
  overflow: auto;  /* Allow scrolling */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%; 
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


