.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: 16px;
  background: #ffffff; /* Light background for a cleaner look */
  transition: transform 0.3s;
  font-family: "Arial", sans-serif;
}

.card-title-link {
  text-decoration: none;
  color: inherit;
}

.card:hover {
  transform: translateY(-5px);
}

.card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 8px;
  font-weight: bold;
  color: #2c3e50; /* Darker color for better contrast */
}

.card-details {
  margin-top: 8px;
  line-height: 1.5;
}

.card-description {
  font-size: 0.9rem;
  color: #4f4f4f; /* Medium grey color */
  margin-bottom: 8px;
}

.card-detail {
  font-size: 0.85rem;
  margin: 4px 0;
  color: #2c3e50; /* Dark grey for consistency */
}

.card-detail strong {
  color: #007bff; /* Blue color to highlight labels */
}

.show-more-button {
  font-size: 0.85rem;
  color: #007bff; /* Blue for "See More" link */
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-top: 12px;
  align-self: flex-start;
  text-decoration: underline;
}

.show-more-button:hover {
  color: #0056b3; /* Slightly darker blue on hover */
}
